/* Block: Base Margins ----------------------- */

*[class*="_inner-container"] > *:first-child { margin-top: 0; }
*[class*="_inner-container"] > *:last-child { margin-bottom: 0; }

.wp-block-archives,
.wp-block-button,
.wp-block-buttons,
.wp-block-categories,
.wp-block-code,
.wp-block-columns,
.wp-block-cover,
.wp-block-embed,
.wp-block-gallery,
.wp-block-group,
.wp-block-image,
.wp-block-latest-comments,
.wp-block-latest-posts,
.wp-block-media-text,
.wp-block-preformatted,
.wp-block-pullquote,
.wp-block-social-links,
.wp-block-quote,
.wp-block-quote.is-large,
.wp-block-quote.is-style-large,
.wp-block-verse,
.wp-block-video {
  margin-bottom: 30px;
  margin-top: 30px;
}

/* Block Editor Accent Colors ---------------- */

:root .has-background { background-color: #121212; }

:root .has-black-color { color: #121212; }
:root .has-black-color a { border-bottom-color: #121212; }
:root .has-black-color a:hover { color: #121212; }
:root .has-black-background-color { background-color: #121212; }

:root .has-dark-gray-color { color: #333; }
:root .has-dark-gray-color a { border-bottom-color: #333; }
:root .has-dark-gray-color a:hover { color: #333; }
:root .has-dark-gray-background-color { background-color: #333; }

:root .has-medium-gray-color { color: #555; }
:root .has-medium-gray-color a { border-bottom-color: #555; }
:root .has-medium-gray-color a:hover { color: #555; }
:root .has-medium-gray-background-color { background-color: #555; }

:root .has-light-gray-color { color: #777; }
:root .has-light-gray-color a { border-bottom-color: #777; }
:root .has-light-gray-color a:hover { color: #777; }
:root .has-light-gray-background-color { background-color: #777; }

:root .has-white-color { color: #fff; }
:root .has-white-color a { border-bottom-color: #fff; }
:root .has-white-color a:hover { color: #fff; }
:root .has-white-background-color { background-color: #fff; }

/* Block Editor Font Sizes ------------------- */

:root .has-small-font-size { font-size: .842em; }
:root .has-regular-font-size,
:root .has-normal-font-size { font-size: 1em; }

:root .has-large-font-size,
:root .has-larger-font-size {
  line-height: 1.5;
}

:root .has-large-font-size { font-size: 1.33em; }
:root .has-larger-font-size { font-size: 1.55em; }

/* Block: Audio ------------------------------ */

.wp-block-audio audio {
  width: 100%;
}

/* Block: Button ----------------------------- */

:root .wp-block-button__link {
  border: none;
}

/* Block: Buttons ---------------------------- */

.wp-block-buttons .wp-block-button {
  margin-top: 0;
}

:root .wp-block-button__link:not(.is-style-outline),
:root .wp-block-buttons:not(.is-style-outline) .wp-block-button:not(.is-style-outline) {
  border: none;
}

:root .is-style-outline > .wp-block-button__link, :root .wp-block-button__link.is-style-outline {
  border: 2px solid;
}

/* Block: Column ----------------------------- */

.wp-block-column {
  padding: 0 5px;
}

.wp-block-column > *:first-child { margin-top: 0; }
.wp-block-column > *:last-child { margin-bottom: 0; }

/* Block: Cover Image ------------------------ */

.wp-block-cover-image {
  color: #fff;
}

.wp-block-cover-image p {
  font-weight: 400;
}

/* Block: File ------------------------------- */

.entry-content .wp-block-file {
  align-items: center;
  background: rgba( 0, 0, 0, 0.05 );
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  padding: 20px;
}

.entry-content .wp-block-file a:not(.wp-block-file__button) {
  border: none;
  font-weight: 500;
  text-decoration: none;
}

.entry-content .wp-block-file__button {
  flex-shrink: 0;
}

/* Block: Gallery ---------------------------- */

.wp-block-gallery .blocks-gallery-image figcaption,
.wp-block-gallery .blocks-gallery-item figcaption {
  color: #fff;
  margin: 0;
  padding-bottom: 10px;
}

.entry-content .wp-block-gallery.alignfull {
  padding: 0 8px;
}

.entry-content ul.wp-block-gallery:not(.alignfull):not(.alignwide) {
  margin-left: 0;
}

.entry-content ul.wp-block-gallery > li:first-child {
  margin-top: 0;
}

.entry-content ul.wp-block-gallery > li:last-child {
  margin-bottom: 16px;
}

/* Block: Image ------------------------------ */

.wp-block-image .aligncenter > figcaption,
.wp-block-image .alignleft > figcaption,
.wp-block-image .alignright > figcaption,
.wp-block-image.is-resized > figcaption {
  display: block;
}

/* Block: Media and Text --------------------- */

.wp-block-media-text__content > *:first-child { margin-top: 0; }
.wp-block-media-text__content > *:last-child { margin-bottom: 0; }

/* Block: Pullquote -------------------------- */

.wp-block-pullquote,
.wp-block-pullquote blockquote {
  background: none;
  border: none;
  padding: 0;
}

.wp-block-pullquote blockquote {
  margin: 0;
}

.wp-block-pullquote blockquote:before {
  content: none;
}

.wp-block-pullquote.alignleft,
.wp-block-pullquote.alignright {
  max-width: 60%;
}

.wp-block-pullquote blockquote p,
.wp-block-pullquote.alignleft blockquote p,
.wp-block-pullquote.alignright blockquote p {
  font-size: 1.25em;
  font-weight: 700;
  letter-spacing: -0.025em;
  margin-bottom: 1em;
}

.wp-block-pullquote.alignleft blockquote p,
.wp-block-pullquote.alignright blockquote p {
  line-height: 1.3;
}

/* STYLE: SOLID COLOR */

.wp-block-pullquote.is-style-solid-color blockquote {
max-width: none;
  padding: 20px;
}

.wp-block-pullquote.is-style-solid-color blockquote p {
  font-size: 1.25em;
}

/* Block: Social Links ----------------------- */

.wp-social-link {
  margin: 0 8px 0 0;
}

/* Block: Quote ------------------------------ */

.wp-block-quote[style*="text-align:center"],
.wp-block-quote[style*="text-align: center"] {
  border: none;
  padding: 0;
}

.wp-block-quote[style*="text-align:right"],
.wp-block-quote[style*="text-align: right"] {
  border-width: 0 2px 0 0;
  padding-left: 0;
  padding-right: 20px;
}

.entry-content .wp-block-quote.is-large,
.entry-content .wp-block-quote.is-style-large {
  margin: 0 0 30px 0;
  padding: 0 0 0 30px;
}

.entry-content blockquote p:last-child {
  margin-bottom: 0;
}

.wp-block-quote.is-large p,
.wp-block-quote.is-style-large p {
  font-size: 1.25em;
  font-style: normal;
  line-height: 1.5;
}

.wp-block-quote.is-large cite,
.wp-block-quote.is-style-large cite {
  display: block;
  font-size: 1em;
  text-align: left;
}
